# Required
CONF_LANG="${LANG:-}"
CONF_BASE_URL="https://<your workspace>.atlassian.net/wiki"
CONF_EMAIL="username@localhost.tld"
CONF_API_TOKEN="<your api token>"
CONF_SPACE_KEY="~<your space id"

# Optional
CONF_PARENT_PAGE_ID=""
CONF_RETRY=3
CONF_TIMEOUT=30
